form {
  width: 80%;
  margin: auto;
  display:flex;
  flex-direction: column;
}
form button,
input {
  outline: none;
}

input {
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  color: rgb(53, 53, 53);
  height: 100%;
}

#content-input, #attachment-input {
  width: 100%;
}

#priority-input {
  --accent:#ff0000;
  cursor: pointer;
  background: transparent;
  font-size: 90%;
  transition: 0.5s all;
  outline: none;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  border-radius: 5px;
  border: 1px solid #ff0000;
  text-align: left;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 10px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: transparent;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.form-row {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
  margin: 10px 0;
}

@media screen and (min-width: 901px) {
  .form-col-8 {
    width: 80%;
  }
  .form-col-6 {
    width: 65%;
  }
  .form-col-4 {
    width: 30%;
  }
  .form-col-2 {
    width: 15%;
  }
  .form-col-1 {
    margin: 0 2.5%;
    width: 10%;
  }
  label, input {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 900px) {
  .form-col-8 {
    width: 65%;
  }
  .form-col-6 {
    width: 60%;
  }
  .form-col-4 {
    width: 40%;
  }
  .form-col-2 {
    width: 35%;
  }
  .form-col-1 {
    margin: 0 5%;
    width: 25%;
  }
  label, input {
    font-size: 0.9rem;
  }
}