@media screen and (min-width: 901px) {
  form {
      width: 60%;
  }

  #priority-input {
    padding: 9px 15px;
  }

  .form-row button::before {
    content: "+ Add";
  }

  #content-input {
    width: 70%;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 900px) {
  form {
      width: 90%;
  }

  #priority-input {
    padding: 3px 5px;
  }

  .form-row button::before {
    content: "+";
  }

  #content-input {
    width: 60%;
    font-size: 1rem;
  }
}

form {
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}
form button,
input[type="text"], input[type="password"] {
  outline: none;
}

input[type="text"], input[type="password"] {
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  padding: 5px;
  color: rgb(53, 53, 53);
  height: 100%;
}

.login-form input {
  margin: 2% auto;
  width: 90%;
}

#priority-input {
  --accent:#474747;
  cursor: pointer;
  background: transparent;
  font-size: 90%;
  transition: 0.5s all;
  outline: none;
  color: var(--accent);
  border: 1.5px solid var(--accent);
  border-radius: 10px;
}

select option {
  color:black;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.form-row {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 40px;
  margin: 10px 0;
  width: 100%;
}