table {
    width: 80%;
    margin: 5% auto;
    text-align: left;
}

tr {
    height: 50px;
    transition: box-shadow 400ms ease-in-out;
}

tr:hover {
    box-shadow: 1px 1px #22222280;
}

tr:hover .svg-delete {
    fill: #ff0000;
    cursor: pointer;
}

td {
    padding: 0 10px;
}

.svg-link, .svg-delete {
    line-height: 50px;
    vertical-align: middle;
    width:24px; 
    height:24px; 
}

.svg-delete {
    fill:transparent;
    transition: fill 400ms ease-in-out;
}

.svg-link {
    fill: #fff;
}

.td-text {
    width: 90%;
}

.td-date {
    width: 3%;
    font-size: .5rem;
    font-style: italic;
}

input[type=checkbox] {
    visibility:hidden;
}

.checkbox-wrapper {
    border: 1px solid #fff;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}